// esto esta en globales
@font-face {
  font-family: "RoadRage-Regular";
  src: local("RoadRage-Regular"),
    url("../../../fonts/RoadRage-Regular.ttf") format("truetype");
  font-weight: bold;
}
////////////////////////////////////////

// esto sesta en _section-container.scss
.get-container {  
  background: url("https://images4.alphacoders.com/992/thumb-1920-992073.jpg");
  height: 100vh;
  width: 100%;
}
/////////////////////////////////////////////

// esto esta en _form.scss
// .form-get {
//   position: relative;
//   font-family: "RoadRage-Regular";
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   top: 80px;
//   font-size: 2rem;
//   border-radius: 8px;
//   box-shadow: 0px 1px 3px 1px #5460a526;
//   margin: 0 0 120px 0;
// }

// .input {
//   text-align: center;
//   margin-bottom: 15px;
//   height: 50px;
//   width: 210px;
//   font-family: "RoadRage-Regular";
//   font-size: 25px;
//   border: 2.5px solid #52ac77a4;
//   border-radius: 5px;
// }
//////////////////////////////////////



// esta en _btn.scss como ".secondary-btn"
// .get-btn {
//   background-color: #940404;
//   border-radius: 16px;
//   border-width: 0 0 3px 2px;
//   color: #95ff00d8;
//   cursor: pointer;
//   font-family: "RoadRage-Regular";
//   font-size: 24px;
//   height: 35px;
//   letter-spacing: 3px;
//   overflow: visible;
//   text-align: center;
//   width: 180px;
//   &:hover {
//     filter: brightness(1);
//     color: rgb(0, 0, 0);
//   }
// }
///////////////////////////////////////////