.home-bg {
  width: 100%;
  object-fit: cover;
  height: 100%;
  @media (max-width: 800px) {
    background-image: url("../../components/Home/video/bg-img-vertical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
