.section-bg {
  background: url("https://images4.alphacoders.com/992/thumb-1920-992073.jpg");
  height: 100%;
}

.section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  padding-top: 6rem;
  gap: 0.3rem;
}
