.about-container{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    &__close{
        position: absolute;
        top: 4px;
        right: 4px;
        font-size: 20px;
        border: none;
        color: #fff;
        background: transparent;
        font-weight: 700;
        cursor: pointer;
    }
}