.about-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.322);
  box-shadow: 0px 1px 3px 5px #f5f6fa26;
  border-radius: 5px;
  @media (max-width: 800px) {
    position: relative;
    width: 60%;
    height: 400px;
    font-size: 20px;
    .btn-close {
  font-family: "RoadRage-Regular";
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 3px;
  right: 22px;
  border: none;
  cursor: pointer;
  z-index: 1;
  height: 10px;
  width: 10px;
  color: rgb(211, 188, 188);
}

.btn-close:hover {
  color: #b62323;
  font-size: 28px;
  }
  }
}
