/////     log buttons/section buttons    ////
.primary-btn {
  background-color: #940404;
  border-radius: 16px;
  border-width: 0 0 3px 2px;
  color: #95ff00dc;
  cursor: pointer;
  font-family: "RoadRage-Regular";
  font-size: 25px;
  overflow: visible;
  letter-spacing: 3px;
  text-align: center;
  justify-content: center;
  padding: 0.8rem 1.8rem;
  border-style: none;
  -webkit-box-shadow: 6px 6px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 19px -4px rgba(0, 0, 0, 0.75);
  &:hover {
    filter: brightness(1);
    color: #fff;
  }
}

/////    edit-button / get-button     ////
.secondary-btn {
  background-color: #940404;
  border-radius: 16px;
  border-width: 0 0 3px 2px;
  color: #94ff00;
  font-family: "RoadRage-Regular";
  font-size: 24px;
  height: 35px;
  letter-spacing: 3px;
  // margin: 5px 0 0 10px;
  // overflow: visible;
  // text-align: center;
  width: 60px;
  &:hover {
    filter: brightness(1);
    color: #fff;
    cursor: pointer;
  }
}

/////     guardar cambios en Edit/ add Character    ////
.submit-btn {
  background: #851313;
  border: solid transparent;
  border-radius: 16px;
  color: #94ff00;
  cursor: pointer;
  font-family: "RoadRage-Regular";
  font-size: 23px;
  letter-spacing: 0.8px;
  height: 40px;
  width: 150px;
}

.submit-btn:hover {
  filter: brightness(1.1);
  color: #fff;
}

.btn-close {
  font-family: "RoadRage-Regular";
  color: #94ff00;
  background: transparent;
  font-size: 30px;
  position: absolute;
  top: 3px;
  right: 15px;
  border: none;
  cursor: pointer;
  z-index: 1;
  height: 10px;
  width: 10px;
}

.btn-close:hover {
  color: #b62323;
  font-size: 40px;
  }
