.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  padding-top: 10rem;
  height: 100vh;
}

.form {
  background: rgba(0, 0, 0, 0.445);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "RoadRage-Regular";
  font-size: 2rem;
  border-radius: 8px;
  height: 300px;
  width: 300px;
  box-shadow: 0px 1px 3px 1px #5460a526;
  padding: 20px;
}



.description-error,
.status-error {
  color: #e90e0e;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}
