//tiene el form del addCharacter que ahora esta en
//_form.scss
//y el boton en _btn.scss

.portal{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    .img{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.view{
    opacity: 1;
}

.form--addCharacter{
    display: flex;
  flex-direction: column;
  font-family: "RoadRage-Regular";
  gap: 1rem;
  margin: 0 2rem;
  align-items: center;
}