.status {
  display: flex;
  gap: 0.6rem;
}
#status {
  background: rgb(230, 218, 218);
  width: 70px;
  text-align: center;
  padding-top: 3px;
  border-radius: 20px;
  font-family: "RoadRage-Regular";
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
}
.dead {
  background: red !important;
}
.alive {
  background: green !important;
}
