.status {
  gap: 10px;
}

#alive {
  background: green;
  width: 70px;
  text-align: center;
  padding-top: 3px;
  border-radius: 20px;
  font-family: "RoadRage-Regular";
  font-size: 20px;
  letter-spacing: 2px;
}

#dead {
  background: red;
  width: 70px;
  text-align: center;
  padding-top: 3px;
  border-radius: 20px;
  font-family: "RoadRage-Regular";
  font-size: 20px;
  letter-spacing: 2px;
}