// @font-face {
//   font-family: "get_schwifty";
//   src: local("get_schwifty"),
//     url("../../../fonts/get_schwifty.ttf") format("truetype");
//   font-weight: normal;
// }
// @font-face {
//   font-family: "RoadRage-Regular";
//   src: local("RoadRage-Regular"),
//     url("../../../fonts/RoadRage-Regular.ttf") format("truetype");
//   font-weight: bold;
// }

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// .card-button {
//   justify-content: center;
//   width: 70%;
//   margin: 0 auto;
//   padding-top: 6rem;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 0.3rem;
// }



// // .card {
// //   position: relative;
// //   margin: 15px;
// //   width: 250px;
// //   height: 400px;
// //   border-radius: 5%;
// //   background: #853018c5;
// //   box-shadow: 2px 2px 10px 1px #82ea02;
// //   h2 {
// //     text-align: center;
// //     margin-bottom: 13px;
// //     font-family: "RoadRage-Regular";
// //     font-size: 2rem;
// //     color:#95ff00df;
// //   }
// //   .card-img {
// //     height: 160px;
// //     margin: 10px 15px 10px 40px;
// //     border-radius: 4%;
// //     position: relative;
// //     border: 2.5px solid #b2e0c5;
// //   }
// //   .card-data {
// //     font-family: "RoadRage-Regular";
// //     font-size: 2rem;
// //     border-radius: 3%;
// //     height: 100px;
// //     width: 80%;
// //     margin-left: 20px;
// //     padding-top: 10px;
// //     text-align: center;
// //     line-height: 25px;
// //     background: #d07621a1;
// //     box-shadow: 0px 1px 3px 1px #5460a526;
// //   }
// //   &__close {
// //     position: absolute;
// //     top: 10px;
// //     right: 10px;
// //     font-size: 20px;
// //     cursor: pointer;
// //   }
// // }
// // .status {
// //   display: flex;
// //   justify-content: space-around;
// //   margin: 5px 0 5px 0;
// //   color: whitesmoke;
// //   height: 30px;
// // }

// /* EDIT BTN*/

.edit-btn {
  background-color: #940404;
  border-radius: 16px;
  border-width: 0 0 3px 2px;
  color: #95ff00d8;
  cursor: pointer;
  font-family: "RoadRage-Regular";
  font-size: 24px;
  height: 35px;
  letter-spacing: 3px;
  margin: 5px 0 0 10px;
  overflow: visible;
  text-align: center;
  width: 60px;
  &:hover {
    filter: brightness(1);
    color: rgb(0, 0, 0);
  }
}

// // Cards
// .card-button {
//   background: transparent;
//   border: 0 none;
//   border-radius: var(--card-radius);
//   box-shadow: var(--shadow-small);
//   height: var(--card-height);
//   position: relative;
//   transform: rotateY(0) scale(1);
//   transform-style: preserve-3d;
//   transition: transform 0.25s ease-in-out;
//   width: var(--card-height);
// }

// .card-button:focus,
// .card-button:hover {
//   cursor: pointer;
//   outline: none;
//   transform: rotateY(0) scale(1.05);
// }
// .card__button.flipped {
//   transform: rotateY(180deg) scale(1);
// }
// .card__button.flipped:focus,
// .card__button.flipped:hover {
//   transform: rotateY(180deg) scale(1.05);
// }

// .card__back,
// .card__front {
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   border-radius: var(--card-radius);
//   height: 18rem;
//   overflow: hidden;
//   width: 18rem;
//   position: absolute;
//   top: 0;
// }
// .card-back {
//   background-color: var(--white);
//   font-size: 0.875rem;
//   padding: 2rem 1.5rem;
//   transform: rotateY(180deg);
//   .card-description {
//     display: grid;
//     grid-template-columns: 2fr 3fr;
//     grid-column-gap: 1rem;
//     grid-row-gap: 0.75rem;
//   }
// }
// .card-front {
//   display: grid;
//   .card-image {
//     grid-column: 1;
//     grid-row: 1;
//     height: 18rem;
//     object-fit: cover;
//     width: 100%;
//     border-radius: 10px;
//   }
//   .card-name {
//     align-self: end;
//     background: #62a4ab;
//     color: #fff;
//     font-size: 1rem;
//     grid-column: 1;
//     grid-row: 1;
//     justify-self: start;
//     letter-spacing: 0.05rem;
//     margin-bottom: 0.75rem;
//     padding: 0.25rem 1.5rem 0.3rem 0.5rem;
//     text-align: start;
//     text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
//     text-transform: uppercase;
//   }
// }
/* Resets  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  padding: 2rem 1.25rem;
}

.main__headline {
  margin-bottom: 0.5rem;
}

/* Card styles follow */

:root {
  --card-height: 18rem;
  --teal: #62a4ab;
  --white: #fefefe;
  --shadow-small: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.15),
    -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  --shadow-medium: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15),
    -0.125rem -0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  --card-radius: 0.25rem;
}
.card-container {
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.3rem;
}
.bg {
  background: url("https://images4.alphacoders.com/992/thumb-1920-992073.jpg");
  height: 100%;
}

.card-back,
.card-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: var(--card-radius);
  height: var(--card-height);
  overflow: hidden;
  width: var(--card-height);
  position: absolute;
  top: 0;
}

.card-back {
  background-color: #417210e8;
  font-size: 1rem;
  padding: 2rem 1.5rem;
  transform: rotateY(180deg);
}

.card-front {
  display: grid;
  z-index: -1;
}

.card-button {
  background: transparent;
  border: 0 none;
  border-radius: var(--card-radius);
  box-shadow: var(--shadow-small);
  height: var(--card-height);
  position: relative;
  transform: rotateY(0) scale(1);
  transform-style: preserve-3d;
  transition: transform 0.25s ease-in-out;
  width: var(--card-height);
}

.card-button:focus,
.card-button:hover {
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  outline: 0 none;
  transform: rotateY(0) scale(1.05);
}

.card-button.flipped:focus,
.card-button.flipped:hover {
  transform: rotateY(180deg) scale(1.05);
}

.card-button.flipped {
  transform: rotateY(180deg) scale(1);
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.card__detail {
  text-align: start;
}

.card-image {
  grid-column: 1;
  grid-row: 1;
  height: var(--card-height);
  object-fit: cover;
  width: 100%;
}

.card__item {
  perspective: 60rem;
}

.card__item--loading {
  font-size: 1.5rem;
  font-weight: 700;
  grid-column: 1 / -1;
  padding-bottom: 8rem;
  width: 100%;
}

.card__list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-items: center;
  list-style: none;
}

.card-name {
  align-self: end;
  background: #c20000;
  color: #94ff00;
  font-size: 1rem;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  letter-spacing: 0.05rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem 1.5rem 0.3rem 0.5rem;
  text-align: start;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.card__term {
  font-weight: bold;
  text-align: end;
}

.card__term::after {
  content: ": ";
}
