// esta todo copiado en _globales.scss
/*

@font-face {
  font-family: "RoadRage-Regular";
  src: url(../../fonts/RoadRage-Regular.ttf);
}*/
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  overflow-y: hidden;
  height: 100vh;
}

.video-container {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

*/
//////////////////////////////////////////////////////////////////////

.img-back{
  height: 100vh;
  width: 100%;
  background: url("./video/2021-12-16_00h55_07.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}