// esta todo copiado en _globales.scss
/*

@font-face {
  font-family: "RoadRage-Regular";
  src: url(../../fonts/RoadRage-Regular.ttf);
}*/
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  overflow-y: hidden;
  height: 100vh;
}

.video-container {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

*/
//////////////////////////////////////////////////////////////////////