//tiene el form del addCharacter que ahora esta en
//_form.scss
//y el boton en _btn.scss
//esta el background en _section-container.scss

.form-user{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .field{
        padding: 5px 10px;

    }
    .submit-btn{
        padding: 5px 10px;
        background-color: green;
        color: white;
        text-align: center;
    }
}

